[Desktop Entry]
Name=Portecle
Comment=Multipurpose keystore and certificate tool
Comment[fi]=Monikäyttöinen avainvarasto- ja varmennetyökalu
Exec=portecle
Icon=portecle
Terminal=false
Type=Application
MimeType=application/x-pkcs12;application/x-java-keystore;application/x-java-jce-keystore;application/pkcs10;application/pkix-pkipath;application/pkix-cert;application/pkix-crl;application/x-x509-ca-cert;
StartupWMClass=net-sf-portecle-FPortecle
Categories=Utility;Security;System;Java;
Version=1.0
