[Desktop Entry]
Name=Portecle
Comment=Multipurpose keystore and certificate tool
Exec=portecle
Icon=portecle
Terminal=false
Type=Application
StartupWMClass=net-sf-portecle-FPortecle
Categories=Utility;Security;Java;
Version=1.0
