<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

  <module name="NewlineAtEndOfFile" />
  <module name="PackageHtml" />

  <module name="TreeWalker">

    <!-- Javadocs -->
    <module name="JavadocType" />
    <module name="JavadocMethod">
      <property name="allowUndeclaredRTE" value="true" />
      <property name="allowThrowsTagsForSubclasses" value="true" />
    </module>
    <module name="JavadocVariable" />
    <!-- module name="JavadocStyle" /-->

    <!-- Imports -->
    <module name="AvoidStarImport" />
    <module name="IllegalImport" />
    <module name="ImportOrder">
      <property name="groups" value="java,javax" />
      <property name="ordered" value="true" />
      <property name="separated" value="true" />
    </module>
    <module name="RedundantImport" />
    <module name="UnusedImports" />

    <!-- Sizes -->
    <module name="FileLength">
      <property name="max" value="3000" />
    </module>
    <module name="LineLength">
      <property name="max" value="79" />
      <property name="ignorePattern" value="(f|ht)tps?://" />
    </module>
    <module name="MethodLength" />
    <module name="AnonInnerLength" />
    <module name="ParameterNumber" />

    <!-- Whitespace -->
    <module name="EmptyForInitializerPad" />
    <module name="EmptyForIteratorPad" />
    <module name="ParenPad" />
    <module name="TabCharacter" />
    <module name="TypecastParenPad" />
    <module name="WhitespaceAfter" />
    <!--module name="WhitespaceAround" /-->

    <!-- Modifiers -->
    <module name="ModifierOrder" />
    <module name="RedundantModifier" />

    <!-- Blocks -->
    <module name="AvoidNestedBlocks" />

    <!-- Coding problems -->
    <module name="CovariantEquals" />
    <module name="DeclarationOrder" />
    <module name="DefaultComesLast" />
    <module name="DoubleCheckedLocking" />
    <module name="EmptyStatement" />
    <module name="EqualsHashCode" />
    <module name="ExplicitInitialization" />
    <module name="FallThrough" />
    <module name="HiddenField" />
    <module name="IllegalInstantiation">
      <property name="classes" value="java.lang.Boolean" />
    </module>
    <module name="InnerAssignment" />
    <module name="MissingCtor" />
    <module name="MissingSwitchDefault" />
    <module name="PackageDeclaration" />
    <module name="ParameterAssignment" />
    <module name="RedundantThrows" />
    <module name="SimplifyBooleanExpression" />
    <module name="SimplifyBooleanReturn" />
    <module name="StringLiteralEquality" />
    <module name="SuperClone" />
    <module name="SuperFinalize" />
    <module name="UnnecessaryParentheses" />

    <!-- Class design -->
    <module name="FinalClass" />
    <module name="InterfaceIsType" />
    <module name="HideUtilityClassConstructor" />
    <module name="ThrowsCount">
      <property name="max" value="3" />
    </module>

    <!-- Misc -->
    <module name="UncommentedMain" />
    <module name="UpperEll" />
    <module name="ArrayTypeStyle" />

    <!-- Usage -->
    <!--module name="usage.OneMethodPrivateField" /-->
    <module name="usage.UnusedLocalVariable" />
    <!--module name="usage.UnusedParameter" /-->
    <module name="usage.UnusedPrivateField" />
    <module name="usage.UnusedPrivateMethod">
      <property name="ignoreFormat" value="^readResolve$" />
    </module>

  </module>
</module>
