<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
  <module name="TreeWalker">

    <module name="TabCharacter" />
    <module name="AvoidStarImport" />
    <module name="RedundantImport" />
    <module name="UnusedImports" />
    <module name="LineLength">
      <property name="max" value="79" />
      <property name="ignorePattern" value="(f|ht)tps?://" />
    </module>

    <!-- Coding problems -->
    <module name="ArrayTrailingComma" />
    <module name="CovariantEquals" />
    <module name="DeclarationOrder" />
    <module name="DefaultComesLast" />
    <module name="DoubleCheckedLocking" />
    <module name="EmptyStatement" />
    <module name="EqualsHashCode" />
    <module name="ExplicitInitialization" />
    <module name="FallThrough" />
    <module name="HiddenField" />
    <module name="IllegalInstantiation">
      <property name="classes" value="java.lang.Boolean" />
    </module>
    <module name="InnerAssignment" />
    <module name="MissingCtor" />
    <module name="MissingSwitchDefault" />
    <module name="MultipleVariableDeclarations" />
    <module name="PackageDeclaration" />
    <module name="ParameterAssignment" />
    <module name="RedundantThrows" />
    <module name="SimplifyBooleanExpression" />
    <module name="SimplifyBooleanReturn" />
    <module name="StringLiteralEquality" />
    <module name="SuperClone" />
    <module name="SuperFinalize" />
    <module name="UnnecessaryParentheses" />

  </module>
</module>
